<template>
  <div>
    <p>no. {{num}}</p>
    <div v-bind:key="c" v-for="c in chooses">
      <span class="choose">{{c}}</span>
      <span class="rate">{{getOdd(c)}}</span>
      <input type="number" ref="gold" :data-choose="c" />
    </div>
    <div>
      <button @click="handle">Bet</button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import get from 'lodash/get'
import sourceData from '@/source.json'
import IOrder from '@/order/IOrder'
import IOrderService from '@/order/IOrderService'
import OrderService from '@/order/OrderService'

const orderService = new OrderService('BBHL')

@Component

export default class App extends Vue {
  order: IOrder[] = []
  chooses: Array<string> = [
    'ALL:SUM:HIGH',
    'ALL:SUM:LOW',
    'ALL:SUM:EVEN',
    'ALL:SUM:ODD',
    'ALL:SUM:LAST:7',
    'ALL:SUM:LAST:0',
    'ALL:SUM:LAST:3',
    'ALL:SUM:LAST:6',
    'ALL:SUM:LAST:1',
    'ALL:SUM:LAST:2',
    'ALL:SUM:LAST:4',
    'ALL:SUM:LAST:5',
    'ALL:SUM:LAST:9',
    'ALL:SUM:LAST:8'
  ]

  get num () {
    return get(sourceData, 'opening_game.num')
  }

  getOdd(choose: string) {
    return get(sourceData, `odds.${choose}`)
  }

  handle() {
    const order = this.$refs.gold.filter((g: any) =>
      g.value !== ''
    ).map((e: any) =>
      ({
        choose: e.dataset.choose,
        wars: 0,
        odds: {
          [e.dataset.choose]: this.getOdd(e.dataset.choose)
        },
        bet_gold: e.value
      })
    )

    this.order.push(...order)

    const orderParams = {
      game_name: 'BBHL',
      game_num: this.num,
      currency: 'CNY',
      orders: this.order
    }

    const res = orderService.bet(orderParams)

    if (res.status === 'success') {
      alert('下注成功')
    }
  }
}
</script>

<style scoped>
.rate {
  margin-left: 10px;
  color: red;
}
</style>
